.right
{
    font-size: 8px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #00A0E3;
    border: none;
    border-radius: 15px;
    display: inline-block;
    width: 4em;
    height: 4em;
    margin-left: 1.5em;
}

.right:hover
{
    background-color: #B3B3B3;
}

.right:active
{
    background-color: #B3B3B3;
    transform: translateY(4px);
}

.right:after
{
    content: '';
    display: inline-block;
    margin-top: 1.10em;
    margin-left: -0.6em;
    width: 1.4em;
    height: 1.4em;
    border-top: 0.5em solid #fff;
    border-right: 0.5em solid #fff;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.left
{
    font-size: 8px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #00A0E3;
    border: none;
    border-radius: 15px;
    display: inline-block;
    width: 4em;
    height: 4em;
    margin-left: 1.5em;
}

.left:hover
{
    background-color: #B3B3B3;
}

.left:active
{
    background-color: #B3B3B3;
    transform: translateY(4px);
}

.left:after
{
    content: '';
    display: inline-block;
    margin-top: 1.10em;
    margin-left: 0.6em;
    width: 1.4em;
    height: 1.4em;
    border-top: 0.5em solid #fff;
    border-right: 0.5em solid #fff;
    -moz-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}


.up
{
    font-size: 8px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #00A0E3;
    border: none;
    border-radius: 15px;
    display: inline-block;
    width: 4em;
    height: 4em;
    margin-left: 1.5em;
}

.up:hover
{
    background-color: #B3B3B3;
}

.up:active
{
    background-color: #B3B3B3;
    transform: translateY(4px);
}

.up:after
{
    content: '';
    display: inline-block;
    margin-top: 1.4em;
    width: 1.4em;
    height: 1.4em;
    border-top: 0.5em solid #fff;
    border-right: 0.5em solid #fff;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.bottom
{
    font-size: 8px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #00A0E3;
    border: none;
    border-radius: 15px;
    display: inline-block;
    width: 4em;
    height: 4em;
    margin-left: 1.5em;
}

.bottom:hover
{
    background-color: #B3B3B3;
}

.bottom:active
{
    background-color: #B3B3B3;
    transform: translateY(4px);
}

.bottom:after
{
    content: '';
    display: inline-block;
    margin-top: 1.0em;
    width: 1.4em;
    height: 1.4em;
    border-top: 0.5em solid #fff;
    border-right: 0.5em solid #fff;
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.zoomcss
{
    font-size: 20px;
    background-color: #00A0E3;
    color: White;
    border-radius: 2px;
    padding: 9px 26px 12px 26px;
}

