<header class="py-xs lg:py-2sm bg-white border-default border-b">
   <div class="container px-xs mx-auto pos-relative">
      <div class="flex-row align-center">
         <a href="index.html" title="Mukti Bridging Distance" class="flex-none icon icon-logo ratio-logo pos-relative d-inline-block">
            <span class="pos-absolute pin">
               <img src="./images/mukti-logo.png" alt="@@websiteName">
            </span>
         </a>
         <!-- <div class="flex-auto px-sm">
            <button class="flex-row align-center cursor-pointer bg-secondary f-color-white f-size-2sm f-weight-semibold hover:shadow-md transition-all">
               <span class="px-2xs flex-row align-center"><span class="mr-xs"><i data-feather="bell"></i></span> Alerts</span>
               <span class="bg-primary p-sm">3</span>
            </button>
         </div> -->
         <div class="ml-auto flex-row align-center">
            <a href="#" class="rounded-full no-underline bg-secondary f-color-white flex-row align-center cursor-pointer f-size-2sm f-weight-semibold hover:shadow-md transition-all mr-sm pos-relative">
               <span class="p-xs flex-row align-center">
                  <i data-feather="bell"></i>
               </span>
               <div class="pos-absolute pin-t pin-r -mt-thin -mr-thin">
                  <span class="icon bg-primary f-color-white rounded-full">
                     <span class="p-thin f-size-xxs"><small>3</small></span>
                  </span>
               </div>
            </a>
            <button class="button flex-row align-center">
               <div class="icon icon-2md mr-xs">
                  <span class="rounded-full bg-primary-light bg-cover bg-center" style="background-image: url('https://picsum.photos/200');"></span>
               </div>
               <span class="icon">
                  <i data-feather="chevron-down"></i>
               </span>
            </button>
         </div>
      </div>
   </div>
</header>