<nav class="side-navbar bg-white border-default border-r d-hidden xl:d-inline-flex">
   <ul class="list-reset flex-col w-full">
      <li class="border-l-thik border-primary bg-light">
         <a href="#" class="flex-row p-md	align-center f-size-3sm f-color-secondary no-underline">
            <span class="icon mr-xs flex-none f-color-primary">
               <span class=""><i data-feather="grid"></i></span>
            </span>
            <span>Dashboard</span>
         </a>
      </li>
      <li class="border-l-thik border-light hover:border-primary">
         <a href="#" class="flex-row p-md	align-center f-size-3sm f-color-secondary no-underline">
            <span class="icon mr-xs flex-none f-color-primary">
               <span class=""><i data-feather="activity"></i></span>
            </span>
            <span>Analytics</span>
         </a>
      </li>
      <li class="border-l-thik border-light hover:border-primary">
         <a href="#" class="flex-row p-md	align-center f-size-3sm f-color-secondary no-underline">
            <span class="icon mr-xs flex-none f-color-primary">
               <span class=""><i data-feather="monitor"></i></span>
            </span>
            <span>Multiscreen</span>
         </a>
      </li>
      <li class="border-l-thik border-light hover:border-primary">
         <a href="#" class="flex-row p-md	align-center f-size-3sm f-color-secondary no-underline">
            <span class="icon mr-xs flex-none f-color-primary">
               <span class=""><i data-feather="play"></i></span>
            </span>
            <span>Playback</span>
         </a>
      </li>
   </ul>
</nav>