<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies></assemblies>
		</compilation>
		<customErrors mode="Off" />
		<authentication mode="Forms">
			<forms loginUrl="~/Default.aspx" name=".ASPXAUTH_punjabflc" />
		</authentication>
		<httpHandlers>
			<add verb="*" path="captimage.axd" type="Syncfusion.JavaScript.ImageHandler, Syncfusion.EJ, Version=20.1400.0.56, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
		</httpHandlers>
		<sessionState timeout="240" mode="InProc" />
		<httpRuntime maxRequestLength="2147483647" />
		<pages>
			<controls>
				<add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
			</controls>
		</pages>
		<profile defaultProvider="DefaultProfileProvider">
			<providers></providers>
		</profile>
		<membership defaultProvider="DefaultMembershipProvider">
			<providers></providers>
		</membership>
		<roleManager defaultProvider="DefaultRoleProvider">
			<providers></providers>
		</roleManager>
	</system.web>
	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="2147483644" />
			</webServices>
		</scripting>
	</system.web.extensions>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="Cache-Control" value="no-cache" />
				<add name="Access-Control-Allow-Origin" value="*" />
				<add name="Access-Control-Allow-Methods" value="GET,POST,OPTIONS" />
				<add name="Access-Control-Allow-Headers" value="Content-Type, soapaction" />
				<add name="Referrer-Policy" value="no-referrer-when-downgrade" />
			</customHeaders>
		</httpProtocol>
		<staticContent>
			<remove fileExtension=".woff" />
			<mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
			<remove fileExtension=".woff2" />
			<mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
			<remove fileExtension=".woff" />
			<mimeMap fileExtension=".woff" mimeType="application/font-woff" />
		</staticContent>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true" />
		<handlers>
			<add verb="*" path="captimage.axd" name="syncfusion_generatetools" type="Syncfusion.JavaScript.ImageHandler, Syncfusion.EJ, Version=20.1400.0.56, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
		</handlers>
	</system.webServer>
	<connectionStrings>
		<!--punjabfsvproduction|dumydb-->
		<add name="connectionstr" connectionString="Server=tcp:punjab.database.windows.net;Initial Catalog=PunjabElectionDemo2023;Persist Security Info=False;User ID=punjabfsv;Password=fsv@12345" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="envirnment" value="live" />
		<add key="pageitemcount" value="100" />
		<add key="per" value="10" />
		<add key="tb_prefix" value="" />
		<add key="str_prefix" value="V" />
		<add key="mqttenable" value="1" />
		<add key="mqttserver" value="tcp://pro.ambicam.com:1886" />
		<add key="mqttserver2" value="tcp://pro.ambicam.com:1886" />
		<add key="mqttserver3" value="tcp://pro.ambicam.com:1890" />
		<add key="header" value="Election Demo 2023"/>
		<add key="stateid" value="1" />
		<add key="ph_stateid" value="1" />
		<add key="uploadstateid" value="1" />
		<add key="minute" value="60" />
		<add key="minutedefault" value="60" />
		<add key="titlename" value="Election" />
		<add key="usertotal" value="PunjabElectionlive" />
		<add key="usertotalen" value="1" />
		<add key="viewcountuser" value="Electionadmin" />
		<add key="stcode" value="Election" />
		<add key="defaultpage" value="home.aspx" />
		<add key="defaultpageforsm" value="home.aspx" />
		<add key="defaultpagefordm" value="boothupload.aspx" />
		<add key="defaultpageforeci" value="Listview1.aspx" />
		<add key="logincount" value="15" />
		<add key="hrflag" value="true" />
		<add key="district" value="District" />
		<add key="pcname" value="Assembly" />
		<add key="assemblyname" value="Assembly" />
		<add key="psnum" value="PS No" />
		<add key="location" value="Location" />
		<add key="InstalledCameraName" value="Installed" />
		<add key="OnlineCameraName" value="Online" />
		<add key="OfflineCameraName" value="Offline" />
		<add key="ConnectedOnceCameraName" value="Connected Once" />
		<add key="LastOneHourCameraName" value="Last One Hour" />
		<add key="AllSelectKeword" value="ALL" />
		<add key="phase_stateid" value="1" />
		<add key="phase_date" value="24092021" />
		<add key="starthour" value="00:00:00" />
		<add key="endhour" value="23:59:59.999" />
		<add key="updowntime" value="Punjab_FLC_2021-Server_generated_unedited_time_stamped_real_time_original_server_Report" />
		<add key="startDate" value="2021-09-21" />
		<add key="endDate" value="2021-11-02" />
		<add key="SMTPServer" value="smtp.gmail.com" />
		<add key="SMTPFrom" value="sankets.vmukti@gmail.com" />
		<add key="SMTPPassword" value="Test@123" />
		<add key="SMTPPort" value="587" />
		<add key="SMTPSSLEnabled" value="true" />
		<add key="SMTPTimeout" value="10000" />
		<add key="PaneltyPerMinute" value="10" />
		<add key="statename" value="DELHI" />
		<!-- State name -->
		<add key="LoginBackgroundImage" value="../images/mp_login.jpg" />
		<!-- Login Background image path -->
		<add key="tabtitle" value="Election Demo 2023 | Election Surveillance" />
		<!-- TAB TITLE -->
		<add key="dashbordtitle" value="Election Demo 2023 - DASHBOARD" />
		<!-- DASHBOARD TITLE -->
		<!-- Banner  -->
		<add key="dashbordbanner1" value="images/001.jpg" />
		<!-- BANNER 1 IMAGE PATH OF DASHBORD -->
		<add key="dashbordbanner2" value="images/002.jpg" />
		<!-- BANNER 2 IMAGE  PATH OF DASHBORD -->
		<add key="dashbordbanner3" value="images/003.jpg" />
		<!-- BANNER 3 IMAGE PATH OF DASHBORD -->
		<add key="dashbordbanner4" value="images/004.jpg" />
		<!-- BANNER 4 IMAGE PATH OF DASHBORD -->
		<add key="dashbordbanner5" value="images/005.jpg" />
		<!-- BANNER 5 IMAGE  PATH OF DASHBORD -->
		<add key="DashbordBanner1Visisble" value="normal" />
		<!-- BANNER 1 VISIBLE OR NOT 'normal' FOR VISIBLE AND 'none' for remove -->
		<add key="DashbordBanner2Visisble" value="normal" />
		<!-- BANNER 2 VISIBLE OR NOT 'normal' FOR VISIBLE AND 'none' for remove -->
		<add key="DashbordBanner3Visisble" value="normal" />
		<!-- BANNER 3 VISIBLE OR NOT 'normal' FOR VISIBLE AND 'none' for remove -->
		<add key="DashbordBanner4Visisble" value="normal" />
		<!-- BANNER 4 VISIBLE OR NOT 'normal' FOR VISIBLE AND 'none' for remove -->
		<add key="DashbordBanner5Visisble" value="normal" />
		<!-- BANNER 5 VISIBLE OR NOT 'normal' FOR VISIBLE AND 'none' for remove -->
		<add key="DashbordBanner1VisisbleImage" value="" />
		<!-- BANNER 1 VISIBLE OR NOT '' FOR VISIBLE AND '0' for remove  -->
		<add key="DashbordBanner2VisisbleImage" value="" />
		<!-- BANNER 2 VISIBLE OR NOT '' FOR VISIBLE AND '0' for remove  -->
		<add key="DashbordBanner3VisisbleImage" value="" />
		<!-- BANNER 3 VISIBLE OR NOT '' FOR VISIBLE AND '0' for remove  -->
		<add key="DashbordBanner4VisisbleImage" value="" />
		<!-- BANNER 4 VISIBLE OR NOT '' FOR VISIBLE AND '0' for remove  -->
		<add key="DashbordBanner5VisisbleImage" value="" />
		<!-- BANNER 5 VISIBLE OR NOT '' FOR VISIBLE AND '0' for remove -->
		<add key="pichartdisable" value="1" />
		<!-- pichart disable for "1" or enable for "0"-->
		<add key="barchartdisable" value="0" />
		<!-- barchart disable for "1" or enable for "0"-->
		<add key="Indoor_Camera_List_disable" value="1" />
		<!-- Indoor list disable for "1" or enable for "0"-->
		<add key="Outdoor_Camera_List_disable" value="1" />
		<!-- outdoor list disable for "1" or enable for "0"-->
		<add key="Voter_helpline_image_path" value="d-hidden" />
		<!-- Voter helpline image PATH -->
		<add key="Voter_helpline_image_Visisble" value="d-hidden" />
		<!-- Voter_helpline_image_Visisble 5 VISIBLE OR NOT '' FOR VISIBLE AND 'd-hidden' for remove -->
		<add key="AndroidAppPath" value="images/android app.png" />
		<!-- Androind app QR images path -->
		<add key="AndroidAppVisible" value="" />
		<!-- Androind app QR images VISIBLE OR NOT '' FOR VISIBLE AND 'd-hidden' for remove -->
		<add key="IOSAppPath" value="images/iOS app.png" />
		<!-- IOS app QR images path -->
		<add key="IOSAppVisible" value="" />
		<!-- IOS app QR images VISIBLE OR NOT '' FOR VISIBLE AND 'd-hidden' for remove -->
		<!-- URL link -->
		<add key="FacebookUrl" value="" />
		<!-- Facebook Url -->
		<add key="FacebookImagePath" value="" />
		<!-- Facebook logo image path -->
		<add key="FacebookVisible" value="" />
		<!-- facebook icon VISIBLE OR NOT '' FOR VISIBLE AND 'd-hidden' for remove -->
		<add key="TwitterUrl" value="" />
		<!-- Twitter Url -->
		<add key="TwitterImagePath" value="" />
		<!-- Twitter logo image path -->
		<add key="TwitterVisible" value="" />
		<!-- Twitter icon VISIBLE OR NOT '' FOR VISIBLE AND 'd-hidden' for remove -->
		<add key="YoutubeUrl" value="" />
		<!-- Youtube Url -->
		<add key="YoutubeImagePath" value="" />
		<!-- Youtube logo image path -->
		<add key="YoutubeVisible" value="" />
		<!-- Youtube icon VISIBLE OR NOT '' FOR VISIBLE AND 'd-hidden' for remove -->
		<add key="InstagramUrl" value="" />
		<!-- Instagram Url -->
		<add key="InstagramImagePath" value="" />
		<!-- Instagram logo image path -->
		<add key="InstagramVisible" value="" />
		<!-- Instagram icon VISIBLE OR NOT '' FOR VISIBLE AND 'd-hidden' for remove -->
		<!-- Header icone -->
		<add key="CEOimagePath" value="images/ecilogo.png" />
		<!-- CEO image path -->
		<add key="CEOhelptext" value="ECI" />
		<!-- CEO image ohver helptext -->
		<add key="CEOVisible" value="" />
		<!--CEO image icon VISIBLE OR NOT '' FOR VISIBLE AND 'd-hidden' for remove -->
		<add key="CEOUrl" value="Home.aspx" />
		<!--CEO URL enable OR NOT 'url' FOR VISIBLE AND '#' for remove -->
		<add key="StateElectionLogoPath" value="d-hidden" />
		<!-- State Election Logo image path -->
		<add key="ElectionLogoHelptext" value="Election Commission of India" />
		<!--State Election Logoimage ohver helptext -->
		<add key="StateElectionLogoVisible" value="d-hidden" />
		<!--State Election Logo image icon VISIBLE OR NOT '' FOR VISIBLE AND 'd-hidden' for remove -->
		<add key="StateElectionUrl" value="#" />
		<!--StateElection URL enable OR NOT 'url' FOR VISIBLE AND '#' for remove -->
		<add key="TechnicalAgencyLogoPath" value="images/BSNL.jpeg" />
		<!-- TechnicalAgencyLogo image path -->
		<add key="TechnicalAgencyLogohelptext" value="BSNL" />
		<!-- TechnicalAgencyLogo image ohver helptext -->
		<add key="TechnicalAgencyLogoVisible" value="d-hidden" />
		<!--TechnicalAgencyLogo image icon VISIBLE OR NOT '' FOR VISIBLE AND 'd-hidden' for remove -->
		<add key="TechnicalAgencyUrl" value="" />
		<!--TechnicalAgency URL enable OR NOT 'url' FOR VISIBLE AND '#' for remove -->
		<add key="VmuktiLogoPath" value="images/user-image.jpg" />
		<!-- VmuktiLogo image path -->
		<add key="VmuktiLogohelptext" value="VMukti" />
		<!-- VmuktiLogo image ohver helptext -->
		<add key="VmuktiLogoVisible" value="" />
		<!--VmuktiLogo image icon VISIBLE OR NOT '' FOR VISIBLE AND 'd-hidden' for remove -->
		<add key="VmuktiUrl" value="https://www.vmukti.com/" />
		<!--Vmukti URL enable OR NOT 'url' FOR VISIBLE AND '#' for remove -->
		<!-- Report -->
		<add key="ConsolidatedCameraOffline_2_excel_title" value="Election Demo 2023 " />
		<!-- Consolidated Camera Offline Excel report TITLE name -->
		<add key="ConsolidatedCameraOffline_2_excel_footer" value="This is system generated report " />
		<!-- Consolidated Camera Offline Excel report title name -->
		<add key="ConsolidatedCameraOffline_2_pdf_title" value="Election Demo 2023" />
		<!--  Consolidated Camera Offline PDF report TITLE name -->
		<add key="ConsolidatedCameraOffline_2_pdf_footer" value="This is system generated report " />
		<!--  Consolidated Camera Offline PDF report FOOTER   -->
		<add key="CameraStatusReport_2_excel_title" value="Election Demo 2023" />
		<!--  Camera Status Report Excel report TITLE name -->
		<add key="CameraStatusReport_2_excel_footer" value="This is system generated report " />
		<!-- Camera Status Report Excel report FOOTER   -->
		<add key="CameraStatusReport_2_pdf_title" value="Election Demo 2023" />
		<!--  Camera Status Report PDF report TITLE name  -->
		<add key="CameraStatusReport_2_pdf_footer" value="This is system generated report " />
		<!-- Camera Status Report  PDF report FOOTER   -->
		<add key="HrWizeReport_excel_title" value="Election Demo 2023" />
		<!-- Hour Wize Report Excel report TITLE name -->
		<add key="HrWizeReport_excel_footer" value="This is system generated report " />
		<!-- Hour Wize Report Excel report FOOTER  -->
		<add key="HrWizeReport_pdf_title" value="Election Demo 2023" />
		<!-- Hour Wize Report PDF report TITLE name   -->
		<add key="HrWizeReport_pdf_footer" value="This is system generated report " />
		<!--  Hour Wize Report PDF report  FOOTER  -->
		<add key="OnceCount" value="Once Count Report" />
		<!--  Once Count File name -->
		<add key="BoothUploadError" value="Booth Upload Error Report" />
		<!--  Booth Upload Error Report -->
		<add key="MailFrom" value="rahul@vmukti.com" />
		<!-- mail id which is  -->
		<add key="MailTo" value="hpelectionnov2022@gmail.com" />
		<!-- list of mail which are send to mail -->
		<add key="MailCC" value="hpelectionnov2022@gmail.com" />
		<add key="MailBCC" value="" />
		<!--  list of mail which are cc -->
		<add key="SMTPUSERNAME" value="rahul@vmukti.com" />
		<!--  -->
		<add key="SMTPPASSWORD" value="igveksbdhyayidvm" />
		<!--  -->
		<add key="PrevNextBtnEnable" value="Y" />
		<!--Multi Grid Pageing Next Prev Btn Enable or Disable  -->
	</appSettings>
</configuration>
<!--ProjectGuid: FAAABC24-A2D4-4C9B-8C7A-8E08515FEDBA-->