<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
<location path="." inheritInChildApplications="false">
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Forms">
      <forms loginUrl="~/Default.aspx" name=".ASPXAUTH_tnflc" />
    </authentication>
    <!--<webServices>
      <protocols>
        <add name="HttpGet"/>
      </protocols>
    </webServices>-->
    <pages validateRequest="false" enableEventValidation="false" viewStateEncryptionMode="Never" ></pages>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Cache-Control" value="no-cache" />
      </customHeaders>
    </httpProtocol>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>

  </system.webServer>
  <connectionStrings>
   <!-- <add name="connectionstr" connectionString="Data Source=tcp:eledbwest.database.windows.net,1433;Initial Catalog=eledbwest;User ID=vmktadmin;Password=vmkt@139"
      providerName="System.Data.SqlClient" />-->
   <add name="connectionstr" connectionString="Data Source=live.vmukti.com;Initial Catalog=eledbwest2021;User ID=sa;Password=8win@34db15"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="pageitemcount" value="100"/>
    <add key="per" value="10"/>
    <add key="tb_prefix" value=""/>
    <add key="str_prefix" value="V"/>
    <add key="mqttenable" value="1" />
    <add key="mqttserver" value="tcp://pro.ambicam.com:1884" />
    <add key="mqttserver2" value="tcp://pro.ambicam.com:1883" />
    <add key="header" value="EVM VVPAT SURVEILLANCE" />
    <add key="stateid" value="1" />
    <add key="ph_stateid" value="1" />
    <add key="uploadstateid" value="1" />
    <add key="minute" value="2"/>
    <add key="titlename" value="TN"/>
    <add key="usertotal" value="uplive"/>
    <add key="usertotalen" value="1"/>
    <add key="viewcountuser" value="mpadmin"/>
    <add key="stcode" value="tn"/>
    <add key="defaultpage" value="DashboardTN.aspx"/>
    <add key="defaultpageforsm" value="boothupload.aspx"/>
    <add key="defaultpagefordm" value="boothupload.aspx"/>
    <add key="defaultpageforeci" value="listview.aspx"/>
    <add key="logincount" value="5"/>
    <add key="hrflag" value="true"/>
 <add key="pcname" value="Block Code"/>
    <add key="assemblyname" value="Block"/>
  </appSettings>
  </location>
</configuration>

